.footer {
  height: fit-content;
  display: flex;
  margin-top: auto;
  background-color: #E8E2F4;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px 16px;
  justify-self: flex-end;
}

.footer hr {
  width: 100%;
  height: 1px; /* высота линии */
  background-color: #C6B6E3; /* цвет линии */
  margin-top: 8px; /* отступ сверху */
  margin-bottom: 16px; /* отступ снизу */
  border: none;
}