.MuiDrawer-paper {
  width: 40% !important;
  box-sizing: border-box;
  flex-shrink: 0;
  min-height: 100vh;
}

@media (max-width: 600px) {
  .MuiDrawer-paper {
    width: 100% !important;
    min-height: 100vh;
  }
}

.sidebar {
  color: #2D2D2D;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: #2D2D2D;
  text-decoration: none;
}

.sidebar .MuiListItem-root {
  height: fit-content;
}

.sidebar .MuiList-root {
  margin-top: 24px;
}

.sidebarCloseIcon {
  color: #2D2D2D;
}

.sidebarFoot {
  height: fit-content;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: flex-end;
  justify-self: flex-end;
}