@use '@app/styles/variables' as *;

.customSelect {
  position: relative;
  width: fit-content;
  display: flex;
}

.selectedOption {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: $color-text;
}

.arrowDown {
  width: 16px;
  height: 16px;
}

.customSelectMenu {
  position: absolute;
  border-radius: $border-radius-menu;
  border: 1px solid $color-border;
  background: $color-surface;
  box-shadow: 0 4px 8px 0 rgba(115, 115, 115, 0.05);
  width: fit-content;
  top: auto; /* Сначала убираем автоматические значения */
  bottom: calc(100% + 2px); /* Вычисляем расположение меню вверху */
  right: 0;
  overflow: hidden;
}

.customSelectMenuItem {
  padding: 8px;
  background: $color-surface;
  color: $color-text;
  text-align: center;
  cursor: pointer;
}

.customSelectMenu > * {
  border-bottom: 1px solid $color-border;
}

.customSelectMenu > *:last-child {
  border-bottom: none;
}

.customSelectMenuItemSelected {
  padding: 8px;
  background-color: $color-background;
  color: $color-muted;
  text-align: center;
}

.customSelectLine {
  height: 1px;
  background: $color-border;
}

.customSelectMenuItem:hover {
  background-color: $color-hover;
}
