.footer {
  height: fit-content;
  display: flex;
  margin-top: auto;
  background-color: #E8E2F4;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px 16px;
  justify-self: flex-end;
}